*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F6F8F9;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

/* HEADER */

header{
  background-color: white;
  padding: 10px;
}

header div{
  display: inline-block;
  vertical-align: middle;
}

h1{
  display: inline-block;
  vertical-align: middle;
  font-size: 2.5rem;
}

/* ----------- */

/* MAIN */

main section{
  padding-left: 50px;
  margin-top: 40px;
}

/* BUTTON BAR */
.add-bar{
  padding-top: 20px;
  padding-bottom: 10px;
}

/* GENERAL BUTTON */
.button-add{
  display: inline-block;
  padding: 6px 10px 6px 10px;
  border: 2px solid lightgrey;
  border-radius: 8px;
  color: lightgrey;
  font-size: 0.9rem;
}

/* TASK BUTTON */
.task{
  background-color: #47ADF1;
  border-color: #47ADF1;
  color: white;
}

hr{
  border: 2px solid #F6F8F9;
}

/* NOME DELLA SEZIONE DELLA LISTA */
.list h2{
  display: inline-block;
}

ol{
  list-style-type: none;
}

/* SINGOLI ELEMENTI DELLA LISTA */
li{
  padding-top: 20px;
}

/* CHECK or UNCHECK SIMBOLO */
li .check{
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 0.7rem;
  line-height: 20px;
  border: 2px solid rgb(42, 180, 42);
  border-radius: 50%;
  margin-right: 5px;
}

li .yes{
  color: rgb(42, 180, 42);
}

li .no{
  color: red;
  border-color: red;
}

/* TAG COLORATI */
.tag{
  display: inline-block;
  font-size: 0.8rem;
  color: white;
  border: 1px solid black;
  border-radius: 12px;
  padding: 5px 10px 5px 10px;
}

/* TIPOLOGIA DIVERSA DI TAG */
.editorial{
  background-color: #45abea;
  border-color: #45abea;
}

.goals{
  background-color: #9C72E4;
  border-color: #9C72E4;
}

.recruiting{
  background-color: #64c0a9;
  border-color: #64c0a9;
}

.mobile{
  background-color: #f29e33;
  border-color: #f29e33;
}

.website{
  background-color: #d863a1;
  border-color: #d863a1;
}

.sales{
  background-color: #b0c926;
  border-color: #b0c926;
}

.hide{
  visibility: hidden;
}

/* ----------- */